<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :height %>
		<%= f.input :float %>
    <%= f.input :dob %>
    <%= f.input :dod %>
    <%= f.association :Gender %>
    <%= f.association :Nutered %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
